<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMusicService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
                    <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/MonkeyMusicCloud.Service/MusicService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMusicService"
                contract="Service.Proxy.IMusicService" name="WSHttpBinding_IMusicService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ImageFolder" value="/Themes/Images/"/>
    <add key="LibraryRoot" value="C:\MusicRoot\" />
  </appSettings>
</configuration>