<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"
        messageEncoding="Mtom" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
          maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>  
    
    <services>
      <service name="MonkeyMusicCloud.Service.MusicService" behaviorConfiguration="ReportingComponentLibrary.TemplateServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_Time_Addresses/MonkeyMusicCloud.Service/MusicService/" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="MonkeyMusicCloud.Service.IMusicService" bindingConfiguration="wsHttp">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportingComponentLibrary.TemplateServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="DataBaseName" value="Music" />
  </appSettings>
</configuration>

